In [60]:
import pandas as pd
df = pd.read_csv("arbolado-publico-lineal-2017-2018.csv")
df2 = pd.read_csv("../Tarea parte 1/arbolado-en-espacios-verdes.csv")
print(df2)

/home/tsl2004/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3203: DtypeWarning: Columns (2,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

            long        lat  id_arbol  altura_tot  diametro  inclinacio  \
0     -58.477564 -34.645015         1           6        35           0
1     -58.477559 -34.645047         2           6        35           0
2     -58.477551 -34.645091         3           6        35           0
3     -58.478129 -34.644567         4          17        50           0
4     -58.478121 -34.644598         5          17        50           0
...          ...        ...       ...         ...       ...         ...
51497 -58.505752 -34.562998     51725          15        30           0
51498 -58.507111 -34.565843     51726          13        31           0
51499 -58.475721 -34.565192     51727          11        28           0
51500 -58.507026 -34.565670     51728           5        32           0
51501 -58.506874 -34.565334     51729          10        35           0

       id_especie                                       nombre_com  \
0              53              Washingtonia (Palmera washingtonia)
1              53              Washingtonia (Palmera washingtonia)
2              53              Washingtonia (Palmera washingtonia)
3              65                                             Ombú
4              65                                             Ombú
...           ...                                              ...
51497          45                                        Casuarina
51498          45                                        Casuarina
51499          17  Árbol del cielo (Ailanto o Árbol de los dioses)
51500         342                                           Ciprés
51501         342                                           Ciprés

                     nombre_cie                     tipo_folla  \
0         Washingtonia filifera                        Palmera
1         Washingtonia filifera                        Palmera
2         Washingtonia filifera                        Palmera
3             Phytolacca dioica  Árbol Latifoliado Caducifolio
4             Phytolacca dioica  Árbol Latifoliado Caducifolio
...                         ...                            ...
51497  Casuarina cunninghamiana      Árbol Latifoliado Perenne
51498  Casuarina cunninghamiana      Árbol Latifoliado Perenne
51499       Ailanthus altissima  Árbol Latifoliado Caducifolio
51500             Cupressus sp.         Árbol Conífero Perenne
51501             Cupressus sp.         Árbol Conífero Perenne

                       espacio_ve  \
0      AVELLANEDA, NICOLÁS, Pres.
1      AVELLANEDA, NICOLÁS, Pres.
2      AVELLANEDA, NICOLÁS, Pres.
3      AVELLANEDA, NICOLÁS, Pres.
4      AVELLANEDA, NICOLÁS, Pres.
...                           ...
51497                 GENERAL PAZ
51498                 GENERAL PAZ
51499  CAMPELO, LICENCIADO CARLOS
51500                 GENERAL PAZ
51501                 GENERAL PAZ

                                               ubicacion     nombre_fam  \
0      DIRECTORIO, AV. - LACARRA, AV. - MONTE -  AUTO...      Arecaceas
1      DIRECTORIO, AV. - LACARRA, AV. - MONTE -  AUTO...      Arecaceas
2      DIRECTORIO, AV. - LACARRA, AV. - MONTE -  AUTO...      Arecaceas
3      DIRECTORIO, AV. - LACARRA, AV. - MONTE -  AUTO...   Fitolacáceas
4      DIRECTORIO, AV. - LACARRA, AV. - MONTE -  AUTO...   Fitolacáceas
...                                                  ...            ...
51497  LARRALDE, CRISOLOGO, AV. - PAZ, GRAL., AV.- AI...  Casuarinaceas
51498  LARRALDE, CRISOLOGO, AV. - PAZ, GRAL., AV.- AI...  Casuarinaceas
51499  ESTACIÓN COGHLAN - Propiedad particular e/UGAR...  Simarrubáceas
51500  LARRALDE, CRISOLOGO, AV. - PAZ, GRAL., AV.- AI...    Cupresáceas
51501  LARRALDE, CRISOLOGO, AV. - PAZ, GRAL., AV.- AI...    Cupresáceas

         nombre_gen            origen       coord_x        coord_y
0      Washingtonia           Exótico  98692.305719   98253.300738
1      Washingtonia           Exótico  98692.751564   98249.733979
2      Washingtonia           Exótico  98693.494639   98244.829684
3        Phytolacca  Nativo/Autóctono  98640.439091   98302.938142
4        Phytolacca  Nativo/Autóctono  98641.182166   98299.519997
...             ...               ...           ...            ...
51497     Casuarina           Exótico  96104.125550  107350.962385
51498     Casuarina           Exótico  95979.513368  107035.237268
51499     Ailanthus           Exótico  98860.090864  107108.347622
51500     Cupressus           Exótico  95987.288841  107054.471332
51501     Cupressus           Exótico  96001.202845  107091.711754

[51502 rows x 17 columns]

In [61]:
#Seleccionando columnas 
cols_sel = [ 'nombre_cientifico', 'diametro_altura_pecho', 'altura_arbol']
df1_nuevo = df[cols_sel].copy()

cols_sel = ["nombre_cie","diametro" , "altura_tot"]
df2_nuevo = df2[cols_sel].copy()
print(df2_nuevo)

                     nombre_cie  diametro  altura_tot
0         Washingtonia filifera        35           6
1         Washingtonia filifera        35           6
2         Washingtonia filifera        35           6
3             Phytolacca dioica        50          17
4             Phytolacca dioica        50          17
...                         ...       ...         ...
51497  Casuarina cunninghamiana        30          15
51498  Casuarina cunninghamiana        31          13
51499       Ailanthus altissima        28          11
51500             Cupressus sp.        32           5
51501             Cupressus sp.        35          10

[51502 rows x 3 columns]

In [10]:
#devolver 10 especies mas repetidas
ordenando_por_frecuencia = df["nombre_cientifico"].value_counts() #Recordar que el value.counts() no solo me lo ordena de mayor a menor por repeticion, sino que me dice que elemento es el que tiene tales repeticiones
print(ordenando_por_frecuencia.head(10))

Fraxinus pennsylvanica    133609
Platanus x acerifolia      32319
Ficus benjamina            22508
Tilia x moltkei            15605
Melia azedarach            14901
Jacaranda mimosifolia      13872
Lagerstroemia indica       11886
Fraxinus americana         10119
No identificado             9411
Tipuana tipu                9330
Name: nombre_cientifico, dtype: int64

Trabajaremos con las siguientes especies seleccionadas: El codigo debajo NO ES para el ejercicio final

In [24]:

especies_seleccionadas = ['Tilia x moltkei', 'Jacaranda mimosifolia', 'Tipuana tipu']
filtro = df['nombre_cientifico'].isin(especies_seleccionadas)
df_filtrado = df[filtro]
print(df_filtrado)
#el segundo dataset lo tengo que llamar df.tipas_veredas 39.000 Tipuana tipu 
#E

            nombre_cientifico ancho_acera  diametro_altura_pecho  altura_arbol
0                Tipuana tipu         5.5                   88.0          34.0
4       Jacaranda mimosifolia         NaN                   13.0           8.0
7       Jacaranda mimosifolia         NaN                    8.0           3.0
8       Jacaranda mimosifolia         NaN                   38.0          15.0
9             Tilia x moltkei         2.8                   25.0          12.0
...                       ...         ...                    ...           ...
370169           Tipuana tipu         NaN                   62.0          16.0
370170           Tipuana tipu         NaN                   76.0          16.0
370171           Tipuana tipu         NaN                   57.0          16.0
370172           Tipuana tipu         NaN                   71.0          18.0
370173  Jacaranda mimosifolia         3.3                   44.0           7.0

[38807 rows x 4 columns]

In [63]:
filtro = df1_nuevo["nombre_cientifico"].str.contains("Tipuana ",case=False)
filtro2 = df2_nuevo["nombre_cie"] == "Tipuana Tipu"
df1_nuevo = df1_nuevo[filtro]
df2_nuevo = df2_nuevo[filtro2]
print(df2_nuevo)

         nombre_cie  diametro  altura_tot
2189   Tipuana Tipu        40          25
2190   Tipuana Tipu        40          25
2191   Tipuana Tipu        40          25
2192   Tipuana Tipu        40          25
2193   Tipuana Tipu        40          25
...             ...       ...         ...
51427  Tipuana Tipu        87          20
51428  Tipuana Tipu        75          20
51429  Tipuana Tipu        53          20
51448  Tipuana Tipu        40          19
51464  Tipuana Tipu        48          22

[4031 rows x 3 columns]

Ahora voy a pasar a renombrar las etiquetas de las columnas

In [64]:
df1_nuevo = df1_nuevo.rename(columns={"diametro_altura_pecho": "diametro"})
df2_nuevo = df2_nuevo.rename(columns={"nombre_cie" : "nombre_cientifico","altura_tot": "altura_arbol"})
print(df1_nuevo)

       nombre_cientifico  diametro  altura_arbol
0           Tipuana tipu      88.0          34.0
434         Tipuana tipu     108.0          17.0
435         Tipuana tipu      80.0          16.0
437         Tipuana tipu     107.0          25.0
438         Tipuana tipu      80.0          22.0
...                  ...       ...           ...
370059      Tipuana tipu      13.0           5.0
370169      Tipuana tipu      62.0          16.0
370170      Tipuana tipu      76.0          16.0
370171      Tipuana tipu      57.0          16.0
370172      Tipuana tipu      71.0          18.0

[9330 rows x 3 columns]

Ahora vamos a agregar la columna ambiente que muestra el parque para df 1 y la ubicacion para df 2

In [65]:
df1_nuevo["ambiente"] = df["direccion_normalizada"]
df2_nuevo["ambiente"] = df2["espacio_ve"]
print(df2_nuevo)

      nombre_cientifico  diametro  altura_arbol  \
2189       Tipuana Tipu        40            25
2190       Tipuana Tipu        40            25
2191       Tipuana Tipu        40            25
2192       Tipuana Tipu        40            25
2193       Tipuana Tipu        40            25
...                 ...       ...           ...
51427      Tipuana Tipu        87            20
51428      Tipuana Tipu        75            20
51429      Tipuana Tipu        53            20
51448      Tipuana Tipu        40            19
51464      Tipuana Tipu        48            22

                               ambiente
2189         AVELLANEDA, NICOLÁS, Pres.
2190         AVELLANEDA, NICOLÁS, Pres.
2191         AVELLANEDA, NICOLÁS, Pres.
2192         AVELLANEDA, NICOLÁS, Pres.
2193         AVELLANEDA, NICOLÁS, Pres.
...                                 ...
51427                        FRAY MOCHO
51428                        FRAY MOCHO
51429                        FRAY MOCHO
51448  PROVINCIA de SANTIAGO DEL ESTERO
51464                 PAZ, JOSE C., Dr.

[4031 rows x 4 columns]

Por ultimo concatenemaos cada df

In [66]:
df_tipas = pd.concat([df1_nuevo, df2_nuevo])
print(df_tipas)

      nombre_cientifico  diametro  altura_arbol  \
0          Tipuana tipu      88.0          34.0
434        Tipuana tipu     108.0          17.0
435        Tipuana tipu      80.0          16.0
437        Tipuana tipu     107.0          25.0
438        Tipuana tipu      80.0          22.0
...                 ...       ...           ...
51427      Tipuana Tipu      87.0          20.0
51428      Tipuana Tipu      75.0          20.0
51429      Tipuana Tipu      53.0          20.0
51448      Tipuana Tipu      40.0          19.0
51464      Tipuana Tipu      48.0          22.0

                               ambiente
0                        ESMERALDA 1120
434                        AZOPARDO 350
435                        AZOPARDO 350
437                        AZOPARDO 350
438                        AZOPARDO 350
...                                 ...
51427                        FRAY MOCHO
51428                        FRAY MOCHO
51429                        FRAY MOCHO
51448  PROVINCIA de SANTIAGO DEL ESTERO
51464                 PAZ, JOSE C., Dr.

[13361 rows x 4 columns]